.header
{
	background: #2efe51;
	width: 100%;
	padding:  10px;
}	


.perrito
{
	background: #1c752b;
	width: 100%;
	padding:  200px;
}	

footer
{
	background: #45ff64;
	width: 84%;
	padding:  20px;
}	

.etapas
{
	background: #ffffff;
	width: 100%;
	padding:  100px;
}	