{% extends "base.html" %}

{% block content %}

    <div class="slider">
        <div class="indicadores">
            <div class="mensaje"><h1>Indicadores Economicos</h1></div>
            <div class="mensaje"><h1>Fecha</h1></div>
            <!--El primeros es un ejemplo a llenar-->
            <div class="marcos"><div class="tipo_indicador"><h1>Dolar:</h1><div class="valor"><h1>$750<!--aqui se remplaza por la variable de la api--></h1></div></div></div>
            <div class="marcos">asd</div>
            <div class="marcos">asd</div>
            <div class="marcos">asd</div>
        </div>
    </div>

{% endblock %}
